:root {
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--color-grey-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2rem;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-width: 1110px;
    margin: 0 auto;
}


.card {
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card__img {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.card__profile {
    display: flex;
    flex-direction: column;
}

.card__name {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.card__title {
    margin: 0;
    font-size: 0.75rem;
    opacity: 0.5;
}

.card__lead {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.card__quote {
    font-size: 0.9rem;
    line-height: 1.5;
    opacity: 0.7;
    margin: 0;
}

.card--bg-purple-500 {
    background-color: var(--color-purple-500);
    color: var(--color-white);
}

.card--quote-bg {
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 0 right 15%;
}

.card--bg-gray-500 {
    background-color: var(--color-grey-500);
    color: var(--color-white);
}

.card--bg-white {
    background-color: var(--color-white);
    color: var(--color-grey-500);
}

.card--bg-dark-blue {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.card--text-gray-500 .card__lead {
  color: var(--color-grey-500);
}

.card--text-gray-500 .card__quote {
  color: var(--color-grey-500);
}

.card--text-gray-500 .card__name {
  color: var(--color-grey-500);
}
.card--text-gray-500 .card__title {
    color: var(--color-grey-500);
}

.attribution {
    margin-top: 1rem;
    font-size: 11px; text-align: center;
    color: var(--color-grey-500);
    width: 100%;
}
.attribution a { color: var(--color-purple-500); font-weight: 700;}


@media (min-width: 900px) {
    .testimonial-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto; 
    }

    .card:nth-child(1) {
        grid-column: 1 / 3;
    }

    .card:nth-child(2) {
        grid-column: 3 / 4;
    }

    .card:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .card:nth-child(4) {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .card:nth-child(5) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}
